/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.disagree {
  margin-top: 0;
  margin-bottom: 0;
} 

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: white;
    border: 3px solid #f1f1f1;
    z-index: 9;
}